{% extends 'base.html' %}
{% block conteudo %}
{% load widget_tweaks %}
<div class="container-fluid">
    <form class="form-floating" action="" method="POST">
        {% csrf_token %}
        <div class="form-row align-itens-center">
            <h1 style="text-align:center" class="text-white">Formulario de novo Filme</h1>
            <label class="text-dark">Nome do Filme</label>
            {% render_field filmes.filme class="form-control" placeholder="digite o nome do filme" %}
            <label class="text-dark">Finalizado</label>
            {% render_field filmes.finalizado class="form-control form-check-input" %}
            <label class="text-dark">Resenha</label>
            {% render_field filmes.resenha class="form-control pull-left" placeholder="Escreva o que achou do filme" %}
            <label class="text-dark">Nota</label>
            {% render_field filmes.nota class="form-control pull-left" placeholder="De uma nota ao filme" %}
            

        </div>
        <button style="margin-top: 10px;" class="btn btn-success" type="submit">Salvar</button>
    </form>
</div>
{% endblock %} 